* {
    box-sizing: border-box;
}

#wrapper {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

#main {
    padding: 50px 0px;
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

.book-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.book-card {
    width: 90%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.book-card h2 {
    margin-top: 0;
}

.book-card img {
    margin-top: 10px;
}

#header {
    width: 90%;
    min-height: 50px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-header {
    padding: 20px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#searchInput {
    padding-left: 20px;
    width: 70%;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#searchBtn {
    margin-left: 30px;
    width: 20%;
    height: 50px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#errorContainer {
    padding: 20px 20px;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: baseline;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#loadMoreBtn {
    width: 20%;
    height: 50px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


